<div class="row">
  <div class="col-12 mt-4">

    <p>Add new servers or blue print</p>
    <label for="">Server name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

    <input type="text" class="form-control" #serverNameInput>
    <!-- creating local references -->

    <label for="">Server Content</label>
    <input type="text" class="form-control mb-4" [(ngModel)]="newServerContent">

    <button class="btn btn-primary mr-2" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint()">Add Blueprint</button>


  </div>
</div>
