<div class="container">
  <app-cockpit (serverCreated) = "onServerAdded($event)"
               (blueprintCreated) = "onBlueprintAdded($event)"></app-cockpit>
  <hr/>
  <div class="row">
    <div class="col-12">
      <app-server-element
          *ngFor="let serverElement of serverElements"
          [srvElement]="serverElement"></app-server-element>
    </div>
  </div>

</div>



<!-- Testing App (components used are server and servers) -->
<!-- <div class="container">
    <div class="row">
        <div class="col-xl-12">
            <h1>Hello</h1>
            <app-servers></app-servers>
           <div class="" app-servers>

            </div>


        </div>
    </div>
</div> -->
